* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 500px;
    margin: 100px auto;
}

.square {
    height: 50px;
    width: 10%;
    display: inline-block;
    border: 2px solid #fff;
    background-color: #000;
}

.clicked-active {
    background-color: coral;
}